:root {
    --body-weight: 1111px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
}

body {
    width: 1440px;
    background-color: #F5FAFE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navtop {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Mulish', sans-serif;
    font-size: 10px;
    text-decoration: none;
    list-style: none;
    width: var(--body-weight);
    height: 60px;
}

.navtop li {
    display: inline-block;
    margin-left: 130px;
}
.navtop li img {
    position: relative;
    top: 5px;
    left: -16px;
}

.left {
    margin-right: auto !important;
}

.white {
    z-index: -1;
    background-color: white;
    width: 100vw; 
    position: absolute;
    top: 60px;
    right: 0px;
    height: 120px;
    width: 100vw;
}

.navbar {
    z-index: 2;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    text-decoration: none;
    list-style: none;
    width: var(--body-weight);
    height: 120px;
}

.navbar li {
    display: inline-block;
    width: 25%;
}

.logo {
    font-family: 'Luckiest Guy', cursive;
    font-size: 24px;
    margin-right: auto;
}
.logo a{
    color: inherit;
    text-decoration: none;
}

.tour {
    display: inline;
    color: #EC1F46;
}

.search__icon {
    background: url("images/search.png") center no-repeat;
}

.search {
    margin-right: auto;
    position: relative;
    left: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

::placeholder {
    font-family: 'Mulish', sans-serif;
}

.search__text {
    width: 350px;
    height: 40px;
    background-color: #F5FAFE;
    border: 0 !important;
    border-radius: 8px 0px 0px 8px;
    list-style: none;
    line-height: none;
    text-indent: 30px;
}

.search__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC1F46;
    width: 65px;
    height: 40px;
    border-radius: 0px 8px 8px 0px;
    border: 0;
}
.search__btn:hover {
    cursor: pointer;
}
.search__btn:active {
    background-color: rgb(236, 31, 70, 0.80)
}

.shopping-cart {
    position: relative;
    left: -80px;
}

.cart-num {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #EC1F46;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.profile {
    padding-right: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    width: 150px;
    height: 40px;
}

.profile__pic {
    background-color: #F2994A;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.blue {
    z-index: -1;
    background-color: #0A223D;
    width: 100vw; 
    position: absolute;
    top: 180px;
    right: 0px;
    height: 80px;
    width: 100vw;
}

.navbot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-weight: bold;
    z-index: 2;
    background: #0A223D;
    width: var(--body-weight);
    height: 80px;
}
.navbot a {
    position: relative;
    color: white;
    text-decoration: none;
}
.navbot a:hover {
    color: white;
}
.navbot a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #EC1F46;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
.navbot a:hover::after {
    transform: scaleX(1);
}
.navbot a:active {
    color: rgb(255, 255, 255, 0.80);
}

.path {
    font-family: 'Mulish', sans-serif;
    font-size: 10px;
    width: var(--body-weight);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hotel {
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    width: var(--body-weight);
    height: 100px;
}

.hotel-name {
    font-size: 24;
    font-weight: bold;
}

.offer {
    position: relative;
    left: 185px;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    width: 70px;
    height: 20px;
    background-color: #EC1F46;
    border-radius: 8px 8px 8px 8px;
}

.offer-description {
    position: relative;
    top: -15px;
    font-size: 12px;
}

.user-rating {
    position: relative;
    margin-left: auto;
    font-family: 'Mulish', sans-serif;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 65px;
    height: 45px;
    background-color: #EC1F46;
    color: white;
    border-radius: 8px 8px 8px 8px;
}

.rate {
    font-size: 12px;
}
.slider-container {
    width: var(--body-weight);
    max-height: 450px;
    display: flex;
    justify-content: flex-start;
}

.opt-map__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 33px;
}

.opt, 
.map {
    width: 350px;
    height: 210px;
    background: #0A223D;
    display: flex;
    border-radius: 8px 8px 8px 8px;
}

.opt {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

.opt__info__guests {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.opt__info__price,
.opt__info__guests {
    min-height: 48px;
    font-weight: bold;
    font-size: 10px;
}
.opt__info__price p:nth-child(2) {
    display: inline;
    font-size: 20px;
    font-weight: 600;
}

.opt__info {
    display: flex;
    justify-content: flex-start;
}

.opt__quick {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 13px;
    font-size: 18px;
}

.opt__quick p:first-of-type {
    margin-right: auto;
    margin-left: -10px;
}
.opt__quick p:last-of-type {
    margin-right: -10px;
}

.opt button {
    color: #fff;
    font-size: 14px;
    background-color: #EC1F46;
    border-radius: 4px 4px 4px 4px;
    border: none;
    cursor: pointer;
}
.opt button:active {
    color: rgb(255, 255, 255, 0.80);
}

.opt__info,
.opt__quick,
.opt button,
.opt__info__price,
.opt__info__guests {
    width: 310px;
    height: 30%;
    margin: 1%;
}

.map {
    background-image: url(images/Map.png);
}

.cards-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: var(--body-weight);
    height: 35px;
}

.cards-menu a {
    position: relative;
    color: #333333;
    text-decoration: none;
}

.cards-menu a:hover {
    color: #EC1F46;
}

.cards-menu a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -10px;
    left: 0;
    background-color: #EC1F46;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.cards-menu a:hover::after {
    transform: scaleX(1);
  } 
  
  .cards-menu a:focus::after,
  .cards-menu a:focus {
    transition: transform 0.5s ease;
    transform: scaleX(1);
    color: #EC1F46;
  }

  .cards-menu a:first-of-type,
  .cards-menu a:first-of-type::after {
    color: #EC1F46;
    transform: scaleX(1);
  }