:root {
    --body-weight: 1111px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}

html {
    display: flex;
    justify-content: center;
}

body {
    width: 1440px;
    background-color: #F5FAFE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navtop {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Mulish', sans-serif;
    font-size: 10px;
    text-decoration: none;
    list-style: none;
    width: var(--body-weight);
    height: 60px;
}

.navtop p:nth-child(2) {
    margin-right: 130px;
}
.navtop p img {
    position: relative;
    top: 5px;
    left: -16px;
}

.left {
    margin-right: auto !important;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    background: #fff;
    width: 1440px;
    height: 80px;
}

.nb-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    text-decoration: none;
    width: var(--body-weight);
    height: 120px;
}

.logo {
    font-family: 'Luckiest Guy', cursive;
    font-size: 24px;
    margin-right: auto;
}
.logo a{
    color: inherit;
    text-decoration: none;
}

.logo p {
    display: inline;
    color: #EC1F46;
}

.search__icon {
    background: url("images/search.png") center no-repeat;
}

.search {
    margin-right: auto;
    position: relative;
    left: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__text::placeholder {
    font-family: 'Mulish', sans-serif;
}

.search__text {
    width: 300px;
    height: 40px;
    background-color: #F5FAFE;
    border: 0 !important;
    border-radius: 8px 0px 0px 8px;
    list-style: none;
    line-height: none;
    text-indent: 30px;
}

.search__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC1F46;
    width: 65px;
    height: 40px;
    border-radius: 0px 8px 8px 0px;
    border: 0;
}
.search__btn:hover {
    cursor: pointer;
}
.search__btn:active {
    background-color: rgb(236, 31, 70, 0.80)
}

.shopping-cart {
    position: relative;
    left: -80px;
}

.cart-num {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #EC1F46;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.profile {
    padding-right: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    width: 150px;
    height: 40px;
}

.profile__pic {
    background-color: #F2994A;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.navbot {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    background: #0A223D;
    width: 1440px;
    height: 80px;
}
.navbot div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--body-weight);
    height: 80px;
    font-size: 14px;
    font-weight: bold;
}
.navbot a {
    position: relative;
    color: white;
    text-decoration: none;
}
.navbot a:hover {
    color: white;
}
.navbot a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #EC1F46;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
.navbot a:hover::after {
    transform: scaleX(1);
}
.navbot a:active {
    color: rgb(255, 255, 255, 0.80);
}

.path {
    font-family: 'Mulish', sans-serif;
    font-size: 10px;
    width: var(--body-weight);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hotel {
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    width: var(--body-weight);
    height: 100px;
}

.hotel-name {
    font-size: 24;
    font-weight: bold;
}

.offer {
    position: relative;
    left: 185px;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    width: 70px;
    height: 20px;
    background-color: #EC1F46;
    border-radius: 8px;
}

.offer-description {
    position: relative;
    top: -15px;
    font-size: 12px;
}

.user-rating {
    position: relative;
    margin-left: auto;
    font-family: 'Mulish', sans-serif;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 65px;
    height: 45px;
    background-color: #EC1F46;
    color: white;
    border-radius: 8px;
}

.rate {
    font-size: 12px;
}
.slider-container {
    width: var(--body-weight);
    max-height: 450px;
    display: flex;
    justify-content: flex-start;
}

.opt-map__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 33px;
}

.opt, 
.map {
    width: 350px;
    height: 210px;
    background: #0A223D;
    display: flex;
    border-radius: 8px;
}

.opt {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

.opt__info__guests {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.opt__info__price,
.opt__info__guests {
    min-height: 48px;
    font-weight: bold;
    font-size: 10px;
}
.opt__info__price p:nth-child(2) {
    display: inline;
    font-size: 20px;
    font-weight: 600;
}

.opt__info {
    display: flex;
    justify-content: flex-start;
}

.opt__quick {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 13px;
    font-size: 18px;
}

.opt__quick p:first-of-type {
    margin-right: auto;
    margin-left: -10px;
}
.opt__quick p:last-of-type {
    margin-right: -10px;
}

button {
    color: #fff;
    font-size: 14px;
    background-color: #EC1F46;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.opt button:active {
    color: rgb(255, 255, 255, 0.80);
}

.opt__info,
.opt__quick,
.opt button,
.opt__info__price,
.opt__info__guests {
    width: 310px;
    height: 30%;
    margin: 1%;
}

.map {
    background-image: url(images/Map.png);
}

.cards-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: var(--body-weight);
    height: 35px;
}

.cards-menu a {
    position: relative;
    color: #333333;
    text-decoration: none;
}

.cards-menu a:hover {
    color: #EC1F46;
}

.cards-menu a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -10px;
    left: 0;
    background-color: #EC1F46;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.cards-menu a:hover::after {
    transform: scaleX(1);
  } 
  
.cards-menu a:focus::after,
.cards-menu a:focus {
transition: transform 0.5s ease;
transform: scaleX(1);
color: #EC1F46;
}

.cards-menu a:first-of-type,
.cards-menu a:first-of-type::after {
color: #EC1F46;
transform: scaleX(1);
}

.ps__title {
    font-family: 'Mulish', sans-serif;
    width: var(--body-weight);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding: 30px 0;
}

.package-summery {
    font-family: 'Mulish', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: var(--body-weight);
    height: 842px;
}
.package-title {
    display: block;
    color: white;
    width: 538px;
    height: 50px;
    background-color: #0A223D;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    padding-left: 25px;
    border-radius: 8px 8px 0 0;
}
.third {
    width: var(--body-weight) !important;
}

.package-hl {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    width: 538px;
    height: 200px;
}
.package-hl__body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 480px;
    height: 96px;
    margin-top: 28px;
    text-transform: capitalize;
}
.package-hl__body p {
    width: 50%;
    font-size: 12px;
    font-weight: 400;
}
.package-hl__body p::before {
    position: relative;
    top: 4px;
    content: url(images/check.png);
    padding-right: 17px;
}

.offer-dt {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    width: 538px;
    height: 200px;
    margin-left: auto;
}
.offer-dt__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 480px;
    height: 96px;
    margin-top: 28px;
    text-transform: capitalize;
}
.offer-dt__body p {
    width: 40%;
    font-size: 12px;
    font-weight: 400;
}
.offer-dt__body::before {
    content: url(images/check.png);

}
.offer-dt__body p:nth-child(2)::before {
    position: relative;
    content: url(images/calendar.png);
    padding-right: 15px;
}
.offer-dt__body p:nth-child(2) {
    width: 48%;
    font-size: 14px;
}
.offer-dt__body p:nth-child(3) {
    position: relative;
    left: 36px;
    width: 100%;
    font-size: 10px;
}

.package-dt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    width: var(--body-weight);
    height: 550px;
}
.package-dt__body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
}
.package-dt__body div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 258px;
    height: 239px;
    margin: 55px;
}
.package-dt__body div p {
    font-size: 12px;
    font-weight: 400;
}
.package-dt__body div p:nth-child(1n+2)::before {
    content: url(images/check.png);
    margin-right: 15px;
}
.package-dt__body div p:nth-child(1) {
    color: #EC1F46;
    font-weight: 600;
    font-size: 13px;
}
hr {
    position: relative;
    top: -35px;
    width: 90%;
    color: black;
    border: 1px dashed rgba(210, 210, 210, 0.3);
}

.package-dt__small {
    width: 194px !important;
    height: 90px !important;
    margin-right: 118px !important;
    margin-top: -20px !important;
}

.other-pk-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    width: var(--body-weight);
    height: 100px;
}

.other-packages {
    color: #fff;
    font-family: 'Mulish', sans-serif;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: var(--body-weight);
    height: 1030px;
}
.big-one {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 730px;
    height: 500px;
    border-radius: 8px;
}
.other-pk {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 350px;
    height: 500px;
}
.other-pk-main-det {
    background: #0A223D;
    height: 100%;
    width: 50%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 0 8px 8px 0;
    padding-left: 35px;
    padding-right: 15px;
    padding-top: 35px;
    padding-bottom: 15px;
}
.ratings img {
    width: 8px !important;
    height: 8px !important;
}
.desc {
    margin: 20px 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
}

.other-pk-det {
    background: #0A223D;
    height: 50%;
    width: 100%;
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.det-price {
    width: 300px;
    height: 200px;
    font-size: 12px !important;
    font-weight: 400 !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.pk-det-title {
    width: 86%;
    position: relative;
    top: 16px;

}
.det-price div:first-of-type {
    width: 100%;
    height: 40%;
    padding: 10px 0;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.det-price div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 30%;
    padding: 10px 0;
    font-size: 10px;
}
.det-price div:nth-child(2) p:nth-child(1) {
    text-decoration: line-through;
}
.det-price div:nth-child(2) p:nth-child(2) {
    font-size: 22px;
    font-weight: bold;
}
.det-price div button {
    position: relative;
    top: 15px;
    width: 200px;
    height: 40px;
    margin-right: auto;
}
.det-price div button:active {
    color: rgb(255, 255, 255, 0.75);
}
.det-price div p img {
    position: relative;
    top: 3px;
    margin-right: 15px;
}

.gr-title {
    font-family: 'Mulish', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    width: var(--body-weight);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.guest-review {
    font-family: 'Mulish', sans-serif;
    width: var(--body-weight);
    height: 450px;
    display: flex;
}
.gr-arrow {
    height: inherit;
    width: 13%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.gr-arrow:last-of-type{
    justify-content: flex-end !important;
}
.gr-arrow button {
    background: none !important;
}
.gr-arrow button:active {
    background-color: rgba(220, 220, 220, 0.4) !important;
}
.gr-review {
    width: 74%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gr-pic {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.gr-pic img {
    position: relative;
    top: 50px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.gr-name {
    background-color: white;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.gr-name p:nth-child(1) {
    font-size: 14px;
    font-weight: bold;
    color: #EC1F46;
}
.gr-name p:nth-child(2) {
    margin-top: 12px;
    font-size: 12px;
    font-weight: 400;
}
.gr-name div {
    margin-top: -6px;
}
.gr-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 12px;
    width: 100%;
    height: 45%;
    padding: 60px;
}
.gr-text div {
    height: 114px;
    width: 600px;
}
.gr-text div p {
    line-height: 23px;
}

.newsletter {
    width: 1440px;
    height: 260px;
    background-image:  url(images/nl-wp.png);
}
.nl-color {
    font-family: 'Mulish', sans-serif;
    width: 1440px;
    height: 260px;
    background: rgba(10, 34, 61, 0.8);
    display: flex;
}
.nl-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: inherit;
    color: white;
}

.nl-email {
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nl-email .search__text {
    width: 250px !important;
    height: 45px;
}
.nl-email .search__btn {
    width: 55px;
    height: 45px;
}
.nl-email button {
    text-transform: capitalize;
    font-size: 11px;
}

.activities {
    font-family: 'Mulish', sans-serif;
    width: var(--body-weight);
    height: 500px;
}
.act-title {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: inherit;
    height: 120px;
}
.other-act {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: inherit;
    height: 420px;
}
.single-act {
    width: 255px;
    height: 255px;
}
.sa-color  {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: inherit;
    height: inherit;
    padding: 20px;
    background: linear-gradient(transparent ,rgb(196, 196, 196, 0.2), rgb(10, 34, 61)) !important;
    border-radius: 6px;
}
.sa-color div {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    
}
.sa-1 {
    background-image: url(images/otheract1.png);
}
.sa-2 {
    background-image: url(images/otheract2.png);
}
.sa-3 {
    background-image: url(images/otheract3.png);
}
.sa-4 {
    background-image: url(images/otheract4.png);
}
.single-act button {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 600;
    width: 100px;
    height: 35px;
    margin-top: 15px;
}

footer {
    width: 1440px;
    height: 900px;
    background: #0A223D;
}
